.blog {
  padding: 82px 0 156px 0;
  font-family: 'Noto Sans TC', sans-serif;
  font-weight: 700;

  @include lg {
    padding: 40px 0 104px 0;
  }

  @include md {
    padding: 24px 0 56px 0;
  }


  .article {
    &_item {
      margin-bottom: 60px;


      @include lg {
        margin-bottom: 32px;
      }

      @include md {
        margin-bottom: 26px;
        flex-direction: column;
      }

      &:last-of-type {
        margin-bottom: 100px;
        @include lg {
          margin-bottom: 82px;
        }
        @include md {
          margin-bottom: 39px;
        }
      }

      &_img {
        width: 618px;

        @include lg {
          width: 330px;
          height: 100%;
          margin-bottom: 32px;
          margin-right: 30px;
        }

        @include md {
          width: 100%;
          margin-bottom: 8px;
        }
      }

      &_content {
        width: 445px;


        @include lg {
          width: 322px;
          // height: 100%;
        }

        @include md {
          width: 100%;
        }


        &_title {
          font-size: 32px;

          a:hover {
            color: $primary;
          }

          @include lg {
            font-size: 20px;
            line-height: 30px;
          }

          @include md {
            font-size: 16px;
            line-height: 1.5;
          }
        }

        &_subtitle {
          font-family: 'Roboto', sans-serif;
          font-weight: 500;

          @include lg {
            font-size: 16px;
            margin-bottom: 16px;
          }

          @include md {
            font-size: 14px;
            margin-bottom: 0;
          }
        }

        &_txt {

          @include lg {
            font-size: 14px;
          }

          @include md {
            display: none;
          }

          .txtnone {
            @include lg {
              display: none;
            }
          }

          .morenone {
            color: $gray;
            display: none;


            @include lg {
              display: inline-block;
              font-weight: 700;

              &:hover {
                color: $brown;
              }
            }


          }
        }

        .moreblock {
          display: block;
          font-size: 36px;
          line-height: 54px;
          font-family: 'Roboto', sans-serif;
          font-weight: 900;
          text-align: right;

          &:hover {
            color: $primary;
          }

          @include lg {
            display: none;
          }
        }



      }

    }
  }


}