.locations {
  font-family: 'Noto Sans TC', sans-serif;
  padding: 16px 0 272px 0;

  @include lg {
    padding: 8px 0 84px 0;
  }

  @include md {
    padding: 8px 0 40px 0;
  }

  .citySelect {
    width: 45%;
    margin-bottom: 38px;

    @include lg {
      width: 50%;
      margin-bottom: 24px;
    }

    @include md {
      width: 100%;
      margin-bottom: 20px;
    }

    .locationSelect {
      font-size: 24px;
      line-height: 30px;
      margin-right: 20px;

      @include lg {
        font-size: 16px;
      }

      @include md {
        font-size: 14px;
        margin-right: 12px;
      }
    }

    select {
      width: 324px;
      font-size: 18px;
      padding: 10px 19px;
      color: #495057;

      @include lg {
        width: 237px;
        font-size: 16px;
        line-height: 1.5;
        padding: 12px 16px;
      }

      @include md {
        width: 277px;
        padding: 8px 16px;
        font-size: 14px;
      }
    }
  }

  .cityCard {
    &_item {
      width: calc(100% / 3 - 30px);
      border: 1px solid #00000020;
      margin-bottom: 32px;
      

      @include lg {
        width: calc(100% / 2 - 30px);
        margin-bottom: 20px;
      }
      @include md {
        width: 100%;
        margin-bottom: 16px;
      }

      img {
        width: 100%;
      }

      &_header {
        padding: 12px 24px;
        @include lg {
          padding:8px 16px;
          font-size: 16px;
          line-height: 24px;
        }
      }

      &_body {
        font-size: 20px;
        line-height: 30px;
        padding: 16px 24px;
        border-top: 2px solid #00000020;
        @include lg {
          font-size: 14px;
          line-height: 21px;
          padding:16px;
        }

        img {
          width: 21px;
          height: 21px;
          margin-right: 12px;
          @include lg {
            width: 20px;
            height: 20px;
            margin-right: 16px;
          }
        }

        li {
          margin-bottom: 12px;
          @include lg {
            margin-bottom: 8px;
          }

          &:last-of-type {
            margin-bottom: 0;
            img {
              margin-top: 5px;
            }
          }
        }
      }

      &_footer {
        a {
          background-color: $dark;
          color: $white;
          text-align: center;
          padding: 20px 0;
          display: block;
          @include lg {
            padding:16px 0;
          }

          &:hover {
            background-color: $light;
            color: $dark;
          }
        }
      }

    }

  }
}