$spacer: 16px;

$spacers: ("1": $spacer,
  "2": $spacer * 1.5,
  "3": $spacer * 2,
  "4": $spacer * 2.5,
  "5": $spacer * 3,
  "6": $spacer * 3.75,
  "7": $spacer * 4,
  "8": $spacer * 5);

@each $i,
$val in $spacers {
  &x-#{$i} {
    margin-left: $val;
    margin-right: $val;
  }

  &y-#{$i} {
    margin-top: $val;
    margin-bottom: $val;
  }

  .m {
    &l-#{$i} {
      margin-left: $val;
    }

    &r-#{$i} {
      margin-right: $val;
    }

    &b-#{$i} {
      margin-bottom: $val;
    }

    &t-#{$i} {
      margin-top: $val;
    }
  }

  .p {
    &x-#{$i} {
      padding-left: $val;
      padding-right: $val;
    }

    &y-#{$i} {
      padding-top: $val;
      padding-bottom: $val;
    }

    &l-#{$i} {
      padding-left: $val;
    }

    &r-#{$i} {
      padding-right: $val;
    }

    &b-#{$i} {
      padding-bottom: $val;
    }

    &t-#{$i} {
      padding-top: $val;
    }
  }
}